<% provide(:title, "Contact")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= yield(:title) %> | Book Manager System</title>
</head>
<body>
    <div class ="center jumbotron"></div>
    <h1>Contact Us</h1>
    <p>Email: support@mail.com</p>
    <p>Phone: 1222115544</p>
</body>
</html>